.divHead{
    border-bottom: 1px solid black;
    padding-bottom: 1%;
}

h6{
    color: #5cab49;
}

.btn-primary{
    background-color: #5cab49;
    border-color: #5cab49;
} 

a{
    color: #5cab49;
}

.background{
    background-color: #5cab49;
    border-color: #5cab49;
}